################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/ProjectEvaluation
/Application/obj/Debug/net6.0
/Application/obj
/central-api/obj
/central-api/obj/Debug/net6.0
