################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/central-api/FileContentIndex/6664b0e2-7a17-451e-9a15-c659aad25482.vsidx
/.vs/central-api/FileContentIndex/2688802b-706a-4606-a52f-73f3d34bd8c8.vsidx
/.vs/central-api/FileContentIndex/1265072a-3a59-4c87-853a-5085492fe3cf.vsidx
/.vs/central-api/FileContentIndex/6fb05426-ce63-4912-bc34-6973c70cb069.vsidx
/.vs/central-api/FileContentIndex/8474b451-eae3-4730-8c94-c14fc2892f5f.vsidx
/.vs/central-api/FileContentIndex/a58d0bf6-8a11-439e-9e0d-7bee993a83e7.vsidx
/.vs/central-api/FileContentIndex/e36fb0e9-c6ef-41a2-858a-74a24650425e.vsidx
/.vs/central-api/v17/.suo
/.vs/central-api/DesignTimeBuild/.dtbcache.v2
/Application/obj/Debug/net6.0
/Application/obj
/WebApplication1/obj
